.smallRoundButton {
  margin: 0px 8px;
  border-radius: 48px;
  border: 0px;
  background-color: #fff;
  transition: 0.3s;
  padding: 0px;
  align-items: center;
}

.smallRoundButton:hover {
  cursor: pointer;
  background-color: #ddd;
}
.imgInSmallRoundButton {
  width: 60%;
  height: 60%;
  padding: 20% 20%;
}
