.profilePreviewPage {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.profilePreviewPageAvatar {
  height: 160px;
  width: 160px;
  border-radius: 999px;
}
.profilePreviewPageName {
  font-size: 36px;
  font-weight: 500;
}
.profilePreviewPageButtons {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 384px;
  margin-top: 20px;
  position: relative;
}
.sendMessageButton {
  background-color: #ddd;
  border-radius: 30px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 3px;
  color: #000;
  width: 60%;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
.subscribeButton {
  background-color: red;
  border-radius: 30px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 3px;
  color: #fff;
  width: 60%;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}
.subscribeButton:hover {
  background-color: darkred;
}
.sendMessageButton:hover {
  background-color: #aaa;
}
.profilePreviewPageTabs {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-around;
}
.sendMessageModal {
  padding: 10px;

  box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 80px;
  left: 0px;
}
