.chatModalBlock {
  position: fixed;
  height: 870px;
  width: 362px;
  display: grid;
  right: 20px;
  top: 70px;
  place-items: center;
  z-index: 5;
}

.chatModalContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 3px 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.chatModalBlockHeader {
  font-size: 28px;
  font-weight: 500;
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.chatsModalElement {
  height: 60px;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 20px;
  width: 90%;
  transition-duration: 0.3s;
  border-radius: 20px;
  padding: 7px 0 7px 7px;
}
.chatsModalElement:hover {
  cursor: pointer;
  background-color: #ccc;
}
.chatsModalElementImage {
  height: 60px;
  width: 60px;
  border-radius: 999px;
  margin-right: 10px;
}
.chatsModalElementName {
  font-size: 20px;
  margin-top: 16px;
}

.selectedChatHeaderImage {
  width: 48px;
  height: 48px;
  border-radius: 999px;
}
.selectedChatHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  padding: 10px;
  box-shadow: 2px 2px 8px 8px rgba(0, 0, 0, 0.1);
}
.selectedChatHeaderName {
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 8px;
}
.inputMessageBlock {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding-top: 10px;
}
.inputMessageWrapper {
  padding: 0 10px;
  flex: 1;
}
.sendMessageInChatButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chatsModalNewMessageIcon {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin: auto 0;
  margin-right: 10px;
}
.chatsModalInputHolder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chatsModalInputWrapper {
  padding: 0 10px;
  flex: 1;
}
