.createBoardPopupWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.createBoardPopup {
  width: 540px;
  height: 670px;
  z-index: 11;
  background-color: white;
  margin: auto auto;
  border-radius: 30px;
}
