.ideaCard {
  justify-content: center;

  display: flex;
  height: max-content;
  justify-content: center;
  position: relative;
}
.activeIdeaCard {
  background-color: #000;
  border-radius: 20px;
}
.ideaCardFade {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
  transition-duration: 0.3s;
  animation-name: fadeAppearence;
  animation-duration: 0.5s;
}
@keyframes fadeAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
.ideaCardUnfadeAnim {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
  transition-duration: 0.3s;
  animation-name: fadeDisappearence;
  animation-duration: 0.5s;
}
@keyframes fadeDisappearence {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
.saveButtonHolder {
  position: absolute;
  width: 120px;
  height: 45px;
  top: 10px;
  right: 10px;
  z-index: 3;
}
.selectBoardButtonHolder {
  position: absolute;
  width: 130px;
  height: 45px;
  top: 10px;
  right: 140px;
  z-index: 3;
}
.selectBoardButton {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  appearance: none;
  text-align: right;
  z-index: 4;
  padding-right: 25px;
}
.selectBoardButton:hover {
  cursor: pointer;
}
.selectBoardLink {
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
  text-align: right;
  margin-right: 25px;
}
.selectBoardButtonOption {
  font-size: 18px;
  font-weight: 600;
  color: black;
}
.saveButton {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 3px;
  color: #fff;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}
.saveButton.reversed {
  background-color: black;
}
.saveButton.active:hover {
  background-color: darkred;
}
.saveButton.reversed:hover {
  background-color: black;
  color: #ccc;
}

.selectBoardButtonBlock {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
  transition-duration: 0.3s;
  border-radius: 999px;
}

.selectBoardButtonBlock:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
