.ideaCard {
  justify-content: center;

  display: flex;
  height: max-content;
  justify-content: center;
  position: relative;
}
.activeIdeaCard {
  background-color: #000;
  border-radius: 20px;
}
.ideaCardFade {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
  transition-duration: 0.3s;
  animation-name: fadeAppearence;
  animation-duration: 0.5s;
}
@keyframes fadeAppearence {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
.ideaCardUnfadeAnim {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #000;
  opacity: 0.7;
  z-index: 2;
  transition-duration: 0.3s;
  animation-name: fadeDisappearence;
  animation-duration: 0.5s;
}
@keyframes fadeDisappearence {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}
.saveButtonHolder {
  position: absolute;
  width: 120px;
  height: 45px;
  top: 10px;
  right: 10px;
  z-index: 3;
}
.saveButton {
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 3px;
  color: #fff;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}

.saveButton:hover {
  background-color: darkred;
}
