.mainHeader {
  height: 80px;
  align-items: center;
  display: flex;
  width: 100%;
  flex-shrink: 0;
  min-width: 300px;
  position: fixed;
  z-index: 4;
  background-color: white;
}
.mainHeaderHeightBlock {
  height: 80px;
}
.arrowNearProfile {
  margin: 0px 8px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  border: 0px;
  background-color: #fff;
  transition: 0.3s;
  padding: 0px;
  align-items: center;
}
.signInButton {
  background-color: red;
  font-weight: 600;
  color: white;
  font-size: 16px;
  transition-duration: 0.3s;
  margin-right: 20px;
  width: 90px;
  height: 40px;
  border-radius: 40px;
  border: unset;
  align-items: center;
  cursor: pointer;
}
.signInButton:hover {
  background-color: darkred;
}
.signUpButton {
  background-color: #ddd;
  font-weight: 600;
  color: #333;
  font-size: 16px;
  transition-duration: 0.3s;
  margin-right: 30px;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  border: unset;
  align-items: center;
  cursor: pointer;
}
.signUpButton:hover {
  background-color: #aaa;
}
.arrowNearProfile:hover {
  cursor: pointer;
  background-color: #ddd;
}
.appName {
  font-size: 24px;
  font-weight: 600;
  color: red;
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
