.inputField {
  margin-top: 6px;
  height: 50px;

  max-width: 100%;
  display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  transition-duration: 0.2s;
  flex: 1 0 auto;
}
.inputField:hover {
  border: 2px solid rgba(0, 0, 0, 0.7);
}
.inputFieldError {
  border: 2px solid rgba(202, 18, 18, 1);
}
.inputFieldError:hover {
  border: 2px solid rgba(202, 18, 18, 1);
}

.inputDiv {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
