.profileModalBlock {
  position: fixed;
  height: 670px;
  width: 362px;
  display: grid;
  right: 20px;
  top: 70px;
  place-items: center;
  z-index: 5;
}

.profileModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
}
.profileModalButton {
  border: unset;
  width: 100%;
  justify-content: left;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  cursor: pointer;
}
